@import "tailwindcss";

:root {
  --font-family: "Lato", sans-serif;
  --second-family: "Merriweather", sans-serif;
  --foreground: #172234;
  --background: #f2f2f2;
  --light-text: #fff;
  --beige: #b29f7e;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


